/* reset all of the defaults to 0 so that you can write your own CSS*/
/* do not rely on browser DEfaults*/

*{
    border: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 16px;
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

header > h1{
    text-align: center;
    padding: 8px;
}
main{ text-align: center;}

article{
    border-radius: 4px;
    border-color: white;
    border-style: dashed;

    border: 8px solid red;

    display: inline-block;
    margin-left: 12px;
    margin-right: 12px;
    margin-top: 20px;
    margin-bottom: 20px; 
feature-base-branch
    

   
 main

    text-align: center;
    width: 25%;
}

article > h2{
    color: greenyellow;
    padding: 4px 6px;

}

ul{
    list-style: none;
}

article:first-of-type{
    border-color: blue;
}

article:first-of-type h2{
    color: aqua;

}

#inprogress{ border-color: darkorange;}
#inprogress h2{ color: deepskyblue}


#done{ border-color: blueviolet; }
#done h2{ color: mediumseagreen;}

ul li{
    padding: 6px  8px;
    text-transform: uppercase;
    color: gold;

}

 #todo li:nth-child(odd) {
    background-color: rgba(255,255,255,0.2);


}

#inprogress li:nth-child(even){
    background-color: rgba(0,255,0,0.5);
}

#done li:nth-child(odd){
    background-color: rgba(0,0,255,0.4);
}

/* RESPONSIVE CODE */
article{
    width: 100%;
    margin: 15px 0px;
}

main{
    margin: 0 12px;
}

@media(min-width:960px) {
    article{
        width: 25%;
        margin: 10px 12px;
    }
    main{
        margin: 0;
    }
    
}